<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>run.capo.watch</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>Capo uses your current cadence to queue up appropriate songs.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Capo uses workout data to display past runs.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Capo saves all workouts tracked into HealthKit.</string>
</dict>
</plist>
